# Compiled class file
*.class

# Log file
*.log

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# Maven
target/

# Gradle
build/

# Spring Boot
bin/
target/
!src/main/
!src/test/
.vscode/launch.json
src/main/resources/crendetials.properties
src/main/resources/application.properties
